name: Docker Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Build Docker Image
      run: docker build -t nongreid/nongreid.kohya-sd-webui:latest .
    
    - name: Push Docker Image
      run: docker push nongreid/nongreid.kohya-sd-webui:latest
